<ion-content>


    <ion-slides padding mode="md"  pager="md">
        <!-- INICIAL -->
        <ion-slide>
            <img src="assets/imgs/personagens/autenticacao.png"/>
            <p>Olá, meu nome é Cris. <br/> Tudo bem com você? Sempre que não souber como usar, pode clicar no botão AJUDA, que eu e meus amigos te ajudaremos! Veja a seguir como funciona nosso aplicativo: </p>
        </ion-slide>

        <!-- QUEM SOMOS -->
        <ion-slide>
            <img src="assets/imgs/personagens/quem-somos.png"/>
            <h1>Quem Somos</h1>
            <p>Falará um pouco sobre a RAVVS.</p>
        </ion-slide>

        <!-- FUI VIOLENTADA -->
        <ion-slide>
             <img src="assets/imgs/personagens/fui-violentada.png"/>
            <h1>Denunciar Violência</h1>
            <p>Vamos coletar umas informações para te ajudar da melhor maneira.</p>
        </ion-slide>

        <!-- ENCONTRE AJUDA -->
        <ion-slide>
            <img src="assets/imgs/personagens/encontre-ajuda.png"/>
            <h1>Encontre ajuda</h1>
            <p>Disponibilizaremos uma lista com locais e grupos de apoio para você.</p>
        </ion-slide>

        <!-- COMUNIDADE -->
        <ion-slide>
            <img src="assets/imgs/personagens/comunidade.png"/>
            <h1>Comunidade</h1>
            <p>Encontre outras mulheres como você que também pode te ajudar.</p>
        </ion-slide>

        <!-- VIOLENTÔMETRO -->
        <ion-slide>
            <img src="assets/imgs/personagens/violentometro.png"/>
            <h1>Violentômetro</h1>
            <p>Um questionário que irá te ajudar a saber se está correndo perigo em seu relacionamento.</p>
        </ion-slide>
        
        <!-- EM PERIGO -->
        <ion-slide>
            <img src="assets/imgs/personagens/perigo.png"/>
            <h1>Em perigo</h1>
            <p>Envie um alerta de ajuda a RAVVS, polícia ou seus contatos de confiança.</p>
        </ion-slide>

        <!-- AJUDA -->
        <ion-slide>
            <img src="assets/imgs/personagens/fui-violentada.png"/>
            <h1>Ainda está com duvida ? </h1>
            <p>Em todas as páginas tem um icone de ajuda, no canto superior direito onde você saberá o que cada página faz.</p>
        </ion-slide>

        <!-- ENTRA -->
        <ion-slide>
            <ion-button routerLink="/login" expand="block" fill="clear" color="light" shape="round">
                ENTRAR
            </ion-button>    
        </ion-slide>

    </ion-slides>

</ion-content>
