<ion-content #ionContent>
  <div id="theme2"  class="height-100">
    <div id="toolbar">
      <ion-grid fixed>
        <ion-row>
          <!-- ESQUERDA-->
          <ion-col size="3"><back-button fixo="/dashboard"></back-button></ion-col>

          <!-- CENTRO -->
          <ion-col size="6">        
              <h1>COMUNIDADE</h1>
          </ion-col>

            <!-- DIREITA -->
            <ion-col size="3">
              <btn-ajuda [personagem]='ajuda' [auto-carregar]="true"></btn-ajuda>
            </ion-col>

        </ion-row>
      </ion-grid>
    </div>

    <div id="container">
      <!-- RAVVS -->
      <div class="opcao" (click)="navegar('/comunidade/mensagens')">
        <ion-icon name="ios-chatbubbles-outline"></ion-icon>
        <p>MENSAGENS</p>
      </div>

      <!-- RAVVS -->
      <div class="opcao" (click)="navegar('/comunidade/minhas-mensagens')">
        <ion-icon name="ios-search-outline"></ion-icon>
        <p>MINHAS DÚVIDAS</p>
      </div>

    </div>

  </div>
</ion-content>
