<ion-content #ionContent>
  
    <ion-grid fixed>
      <ion-row>
        <!-- ESQUERDA-->
        <ion-col size="4">
          <back-button url-padrao="/login"></back-button>
        </ion-col>
      </ion-row>
    </ion-grid>

    <form [formGroup]="form" (ngSubmit)="cadastrar()">


      <ion-slides #ionSlides [options]="{onlyExternal: false}">    

        <!-- NOME -->
        <ion-slide>
          
          <div>
            <h1>Qual seu nome?</h1>
            <ion-item>
              <ion-input required formControlName="nome" placeholder="Fulano de tal" color="light" type="text"></ion-input>
            </ion-item>
            <p>É assim que você vai aparecer no Fica Bem</p>
          </div>

          <ion-button color="secondary" expand="full" shape="round" (click)="avancar()" [disabled]="form.get('nome').invalid">
            Avançar
          </ion-button>
        
        </ion-slide>

        <!-- EMAIL -->
        <ion-slide>
          <div>
            <h1>Qual seu e-mail?</h1>
            <ion-item>
              <ion-input required formControlName="email" inputmode="email" placeholder="fulanodetal@gmail.com" color="light" type="text"></ion-input>
            </ion-item>
          </div>

          <ion-button color="secondary" expand="full" shape="round" (click)="avancar()" [disabled]="form.get('email').invalid">
            Avançar
          </ion-button>

        </ion-slide>

        <!-- TELEFONE -->
        <ion-slide>
          <div>
            <h1>Qual seu Telefone?</h1>
            <ion-item>
              <ion-input required formControlName="telefone" inputmode="tel" mask="(00) 00000-0000" placeholder="(00) 00000-0000" color="light" type="text"></ion-input>
            </ion-item>
          </div>

          <ion-button color="secondary" expand="full" shape="round" (click)="avancar()" [disabled]="form.get('telefone').invalid">
            Avançar
          </ion-button>

        </ion-slide>  

        <!-- DATA DE NASCIMENTO -->
        <ion-slide>
          <div>
            <h1>Digite a data do seu nascimento</h1>
            <ion-item>
              <ion-datetime displayFormat="DD de MMMM de YYYY"  formControlName="data_nascimento" color="light" monthNames="Janeiro, Fevereiro, Março, Abril, Maio, Junho, Julho, Agosto, Setembro, Outubro, Novembro, Dezembro" cancelText="Cancelar" doneText="Ok" placeholder="Selecione a data"></ion-datetime>
            </ion-item>
          </div>

          <ion-button color="secondary" expand="full" shape="round" (click)="avancar()" [disabled]="form.get('data_nascimento').invalid">
            Avançar
          </ion-button>
        </ion-slide>   

        <!-- SENHA -->
        <ion-slide>
          <div>
            <h1>Crie uma senha</h1>
            <ion-item>
              <ion-input required formControlName="senha" inputmode="tel" placeholder="****" color="light" type="password"></ion-input>
            </ion-item>

            <p id="erro" *ngIf="msg">{{msg}}</p>
          </div>

          <ion-button color="secondary" expand="full" shape="round" type="submit" [disabled]="form.invalid">
            Cadastrar
          </ion-button>

        </ion-slide>
      </ion-slides>


    </form>

</ion-content>
