<ion-content>
  <div id="container">

    <ion-img src="assets/imgs/logo.png"></ion-img>

    <h1 id="titulo">Fica Bem</h1>
    
    <p id="descricao">Olá! O Fica Bem foi criado<br/> entre os anos de 2019 e 2020 em<br/> parceria com a demanda apresentada<br/> pela Rede de Atenção ás Vitímas de<br/> Violência Sexual - RAVVS do estado de <br/> Alagoas. </p>
    
    <ion-button routerLink="/bem-vindo/secoes" expand="full" color="light" shape="round">
      Seja Bem-Vindo!
    </ion-button>
  
  </div>
</ion-content>
