<ion-content>

  <div id="content">
    <p><b>Desenvolvido por:</b></p>
    <p>Carlos Alberto Correia Lessa Filho</p>
    <p>Isabela Cristina Chaves Valente Reis</p>
    <p>Kevan Guilherme Nóbrega Barbosa</p>
    <p>Lívia Acioli Murta Torres</p>
    <p>Gabrielly Maria Argolo Acioly</p>
    
    <br/><br/>
    <p><b>Instituições Participantes:</b></p>
    <p style="text-align: center;">CESMAC <br/> (Mestrado Profissioanal Pesquisa em Saúde-MMPS <br/> Centro de Inovação Tecnológica)</p>
    <p style="text-align: center;">Rede de Atenção às Vítimas de Violência Sexual <br/>(RAVVS/SESAU-AL)</p>
    <p style="text-align: center;">Secretária de Estado de Saúde</p>

  </div>
</ion-content>
