<ion-content>
  <div id="theme3">
    <div id="toolbar">
      <ion-grid fixed>
        <ion-row>
          <!-- ESQUERDA-->
          <ion-col size="3">
            <back-button urlPadrao="/encontre-ajuda" [close]="false"></back-button>
          </ion-col>

          <!-- CENTRO -->
          <ion-col size="6">        
            <h1>GRUPOS DE APOIO</h1>
          </ion-col>

            <!-- DIREITA -->
            <ion-col size="3">
              <btn-ajuda [personagem]='ajuda'></btn-ajuda>
          </ion-col>

        </ion-row>
      </ion-grid>
    </div>

    <div id="container">
      <h1>Unidades de Saúde de Referência</h1>
      <ion-card>
        <ion-card-header>
          <p *ngFor="let local of enderecosUSR ; let i=index" (click)="abrirMapa(local.endereco)">
            <b>{{i+1}}</b> - {{local.nome}}
          </p>
        </ion-card-header>
      </ion-card>

      <ion-img [src]="mapaUSR" (click)="mapa()" id="mapa"></ion-img>
    </div>
  </div>
</ion-content>
