 <ion-content>

  <ion-tabs>
    <ion-tab-bar slot="bottom" color="primary">
      <ion-tab-button tab="home">
        <ion-icon name="ios-home-outline"></ion-icon>
        <ion-label>Home</ion-label>
      </ion-tab-button>
      <ion-tab-button tab="informacoes">
        <ion-icon name="ios-person-outline"></ion-icon>
        <ion-label>Informações</ion-label>
      </ion-tab-button>
      <ion-tab-button tab="credito">
        <ion-icon name="star-outline"></ion-icon>
        <ion-label>Creditos</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</ion-content>
