<ion-content>
  <div id="theme3" class="height-100">
    <div id="toolbar">
      <ion-grid fixed>
        <ion-row>
          <!-- ESQUERDA-->
          <ion-col size="3">
            <back-button fixo="/comunidade" [close]="false"></back-button>
          </ion-col>

          <!-- CENTRO -->
          <ion-col size="6">        
              <h1>MENSAGENS</h1>
          </ion-col>

          <!-- DIREITA -->
          <ion-col size="3">
            <btn-ajuda [personagem]='ajuda' ></btn-ajuda>
          </ion-col>

        </ion-row>
      </ion-grid>
    </div>

    <div id="container">

      <div id="barra-busca">
        <ion-icon slot="start" name="ios-search-outline"></ion-icon>
        <ion-input placeholder="Digite algo para buscar" debounce="1000" (ionChange)="buscar()" [(ngModel)]="termo"></ion-input>
      </div>

      <div id="duvidas" *ngIf="duvidas.length > 0">
        <div class="duvida" *ngFor="let duvida of duvidas" (click)="abrir(duvida)">
            <!-- AUTOR -->
            <p class="autor">{{(duvida.anonimo ? 'Anônimo' : duvida.autor.nome)}}</p> 
            <div class="descricao">
              <!-- INICIO DA PERGUNTA -->
              <p>{{duvida.titulo}}</p>
              <!-- DATA -->
              <p>{{duvida.data|dataBrasil}}</p>
            </div>
            <hr/>
            <p class="comentarios">{{duvida.comentarios.length}} comentário{{duvida.comentarios.length>1? 's' : ''}}</p>
        </div>
      </div>
      <div>
       
      <div id="erro" *ngIf="duvidas.length == 0">
        
        <p *ngIf="!termo"> Hummm... parece que não há nenhuma dúvida ainda. Pode criar uma dúvida clicando na opção + abaixo.</p>
        <p *ngIf="termo">Não achei nada sobre o termo <br/>"<b>{{termo}}</b>"</p>
      </div>


      <ion-button (click)="nova()" expand="block" color="primary" shape="round">
        Nova Mensagem
      </ion-button>
    </div>

  </div>
</ion-content>
